.personal-intro,
.portfolio-about {
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 100%;
}
.portfolio-about {
  grid-template-columns: 42% 1fr;
}

.tech-stack-list {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  align-items: center;
  justify-content: center;
  width: 90%;
  max-width: 800px;
  margin: auto;
}

.tech-stack-list li {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 50px;
}

.projects-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-block: 2rem;
  padding: 30px;
}

.portfolio-footer {
  background-color: #f8f9fa;
  padding: 2rem 1rem;
  color: #333;
  text-align: center;
}
.footer-main {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 2rem;
}
