.portfolio-header {
  position: fixed;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 4rem;
  top: 0px;
  z-index: 100;
  background-color: #fff;
  box-shadow: 0 4px 6px rgb(0, 0, 0, 0.1);
  transition: all 0.3s ease;
}
.portfolio-logo {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100px;
  transition: opacity 0.3s ease;
}
.portfolio-logo:hover {
  cursor: pointer;
}

.portfolio-logo img {
  width: 28px;
  height: auto;
  object-fit: contain;
}

.header-nav {
  width: min(800px, 68%);
  position: relative;
  display: flex;
  justify-content: center;
  font-size: 1rem;
  align-items: center;
  text-align: center;
  font-size: clamp(0.6rem, 1vw, 1.1rem);
}

.nav-links {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
}

.nav-links a {
  color: var(--dark-content);
  transition:
    background-color 150ms ease,
    color 150ms ease;
}

.nav-links a:hover {
  color: #007bff;
}

.portfolio-social-links {
  width: min(250px, 30%);
  display: flex;
  justify-content: space-evenly;
}
.portfolio-social-links img {
  width: 100%;
  max-width: 35px;
  height: auto;
  object-fit: contain;
  margin: 10px;
}
